# All hidden files and directories
.*

# Enable hidden files with extensions
!.*.*

# Enable all hidden directories
!.*/

# Build
build/
dist/

# Git hooks
hooks/*
!hooks/*.ts

# Jest
coverage/

# Lock file
package-lock.json
